/*------------------------------------*\
    LAYOUT VARIABLES
\*------------------------------------*/
// $spacing-scalar: 1.5;

$spacing-unit: 8px;
$container-max: 1280px;
$margin-desktop: 64px;
$margin-mobile: 20px;

$app-horizontal-gap: 16px; // TODO: Remove
